html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

a {
  text-decoration: none;
  margin: 0.5em;
}

a:hover {
  text-decoration: underline 1px solid #FF387366;
  text-underline-offset: 5px;
  transition: 0.3s;
  transform: scale(1.05);
}

.app {
  width: 100vw;
  z-index: 10;
}

.bg {
  background: linear-gradient(216deg, #221338 2.6%, #000 27.36%);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

@media only screen and (max-width: 1024px) {
  .background {
    position: absolute;
    width: 100%;
    height: auto;
    top: 30vw
  }
}


.background .field img {
  width: 100%;
  z-index: -1;
}

.background .parachuteBox img {
  position: relative;
  z-index: -1;
  width: 30%;
  height: auto;
}

.banner {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  z-index: 10;
  background: #050A11;
  position: relative;
}

.banner-content {
  width: 100vw;
  height: 4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #030A13;
  justify-content: space-between;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 4em;
  margin-right: 15vw;
}

.header-link {
  color: #CCC;
  font-family: Inter;
  font-size: 0.990vw;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
}

.link-home {
  display: flex;
  align-items: center;
  width: 60vw;
  height: auto;
  margin: 0 10vw;
}

.link-home img {
  align-items: center;
  height: auto;
  width: 6vw;
}

.rainbow img {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  width: 60%;
  height: auto;
}

.field img {
  position: absolute;
  right: 0px;
  top: 22vh;
  z-index: 1;
}

.frame-box {
  position: absolute;
  top: -201px;
  right: -100px;
  width: 1280px;
  height: 1033.64px;
}

.parachuteBox {
  position: absolute;
  top: 20vh;
  left: 53vw;
  z-index: 1;
  width: 100%;
  height: auto;
}

.about {
  position: relative;
  height: 100vh;
}


@media only screen and (max-width: 1480px) {


  .about {
    position: relative;
    height: 60vw;
  }
}


@media only screen and (max-width: 1024px) {
  .award-container {
    position: relative;
    height: 40vw;
    top: 10vw;
    left: 10vw;
  }

  .about {
    position: relative;
    height: 100vw;
  }
}

.award-container {
  position: relative;
  height: 40vw;
  top: 10vw;
  left: 10vw;
}

.award-block {
  display: block;
  position: relative;
  width: 40vw;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  z-index: 1000;
}

.timer-border {
  top: -1px;
  display: flex;
  width: calc(5vw + 2px);
  height: calc(2vw + 2px);
  position: relative;
  border-radius: 5px;
  background: linear-gradient(90deg, #FF3873, #711EFF, #3FE5FF);
  display: flex;

}

.timer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 2vw;
  border-radius: 5px;
  margin: 1px;
  background: #030A13;
  -webkit-text-fill-color: white;
  color: #FFF;
  font-family: Inter;
  font-size: 0.833vw;
  font-style: normal;
  font-weight: 600;
}



.drift {
  width: 100%;
  position: relative;
  font-family: Inter;
  font-size: 3.750vw;
  font-style: normal;
  font-weight: 600;
  margin-top: 13px;
}

.drift::before {
  content: attr(data-content);
  content: "10000 $DRIFT";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background:
    linear-gradient(90deg, rgba(246, 240, 99, 0.7) 5.36%, rgba(224, 119, 116, 0) 40.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.drift {
  background:
    linear-gradient(90deg, #FF3873 0%, #711EFF 65%, #3FE5FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

.whitelist-label {
  font-family: Inter;
  font-size: 3.750vw;
  font-style: normal;
  font-weight: 600;
}

.about-label {
  position: relative;
  height: auto;
  font-family: Inter;
  font-size: 1.042vw !important;
  font-style: normal;
  font-weight: 500;
  padding-bottom: 2vw;
}

.get-award-button {
  margin-top: 1em;
  border: 0px;
  width: 30vw;
  height: 5vw;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(175deg, #F6F063 0%, transparent 60%), linear-gradient(90deg, #FF3866 0%, #711EFF 47.3958%, #3FE5FF 100%);
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1);
}

.get-award-button:hover {
  transition: 0.3s;
  transform: scale(1.01);
}

@keyframes gradient {
  0% {
    background-size: 200% 200%;
  }

  50% {
    background-size: 100% 100%;
  }

  100% {
    background-size: 200% 200%;
  }
}

.get-award-text {
  -webkit-text-fill-color: #06030B;
  text-align: center;
  font-family: Inter;
  font-size: 1.042vw;
  font-style: normal;
  font-weight: 600;
}


.participate-container {

  margin-bottom: 3vw;
  width: 100vw;
  position: relative;
  color: #fff;
  z-index: 10;
  color: #FFF;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  font-family: Inter;
  font-size: 2.490vw;
  font-style: normal;
  font-weight: 700;
  /* 125.49% */
}

.participate-label {
  width: 100vw;
  height: fit-content;
}

.participate-gradient {
  background:
    linear-gradient(90deg, #FF3873 0%, #711EFF 65%, #3FE5FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.participate {
  white-space: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}



.participate-left {
  position: relative;
  top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.participate-right {
  position: relative;
  top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}


.participate-outer-cell {
  position: static;
  top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vw;
  height: 7vw;
  color: white;
  background-color: #0E192D;
  border-radius: 7vw;
  transition: 0.3s;
}

.participate-outer-cell:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 8vw;
  transform: translate(-16px, -16px);
  background: linear-gradient(90deg, #FF3866 0%, #711EFF 50%, #3FE5FF 100%);
  border-radius: 8vw;
  transition: 0.3s;
}

.participate-inner-cell {
  width: calc(7vw - 2px);
  height: calc(7vw - 2px);
  border-radius: calc(13vw - 2px);
  background-color: #040A14;
  transition: 0.3s;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.participate-outer-cell:hover .participate-inner-cell img {
  position: relative;
  top: 1.4vw;
  left: 1.8vw;
  width: 4vw;
  height: 4vw;
  transition: 0.3s;
  clip-path: inset(8px 10px 0 0);
  border-radius: 4vw;
}

.participate-inner-cell img {
  position: relative;
  top: 1.8vw;
  left: 2.2vw;
  width: 3vw;
  height: 3vw;
  background-color: #040A14;
  transition: 0.3s;
  clip-path: inset(8px 10px 0 0);
  border-radius: 35%;
}

@media only screen and (max-width: 1024px) {
  .participate {
    white-space: normal;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .participate-left {
    position: relative;
    top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .participate-left img {
    width: 8vw;
    height: auto;

  }

  .participate-right {
    position: relative;
    top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .participate-header {
    background: linear-gradient(90deg, #E8A2A0 0%, #9468F1 50%, #71CCE9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Inter;
    font-size: 1.563vw;
    font-style: normal;
    font-weight: 700;
    top: 45px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1em
  }

  .participate-outer-cell {
    position: static;
    top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 12vw;
    color: white;
    background-color: #0E192D;
    border-radius: 12vw;
    transition: 0.3s;
  }

  .participate-outer-cell:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13vw;
    height: 13vw;
    transform: translate(-16px, -16px);
    background: linear-gradient(90deg, #FF3866 0%, #711EFF 50%, #3FE5FF 100%);
    border-radius: 13vw;
    transition: 0.3s;
  }

  .participate-inner-cell {
    width: calc(12vw - 2px);
    height: calc(12vw - 2px);
    border-radius: calc(12vw - 2px);
    background-color: #040A14;
    transition: 0.3s;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .participate-outer-cell:hover .participate-inner-cell img {
    position: relative;
    top: 2vw;
    left: 3.1vw;
    width: 6vw;
    height: 6vw;
    transition: 0.3s;
    clip-path: inset(8px 10px 0 0);
    border-radius: 4vw;
  }

  .participate-inner-cell img {
    position: relative;
    top: 3vw;
    left: 3.7vw;
    width: 5vw;
    height: 5vw;
    background-color: #040A14;
    transition: 0.3s;
    clip-path: inset(8px 10px 0 0);
    border-radius: 35%;
  }
}

.participate-header {
  background: linear-gradient(90deg, #E8A2A0 0%, #9468F1 50%, #71CCE9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: Inter;
  font-size: 1.563vw;
  font-style: normal;
  font-weight: 700;
  top: 45px;
  position: relative;
  display: flex;
  width: 496px;
  height: 90px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1em
}

.participate-text {
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 1.042vw;
  font-style: normal;
  font-weight: 400;
  opacity: 0.7;
}



.participate-right .participate-header {
  top: 0
}

.instruction {
  width: 100vw;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 137px;
}

.instruction-header {
  display: flex !important;
  gap: 8px;
  width: 100vw;
  height: 163px;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
  font-family: Inter;
  font-size: 2.490vw;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  align-items: center;
}

.instruction-gradient {
  background: linear-gradient(90deg, #FF3873, #711EFF, #3FE5FF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.instructions-pics {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #FFF;

  font-family: Inter;
  font-size: 1.250vw;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  width: 100vw;
}

.instructions-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  transform: scale(1);
  transition: 0.3s;
  width: 25%;
  height: auto;
}

footer {
  height: 49px;
  width: 100vw;
  display: flex;
  justify-content: center;

  color: #848895;

  text-align: center;
  font-family: Inter;
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 600;
  /* 151.667% */
  background: #000508;
  padding-top: 20px;
}

.instructions-item:hover img {
  transition: 0.3s;
  transform: scale(1.05);
  z-index: 2000;

}

.participate-right:hover img:hover {
  transition: 0.3s;
  transform: scale(1.4);
}

#cells {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 2em;
}